:root {
    /* Color variables */
    --lavender: #EAE7F2;
    --darker-purple: #5B4E77;
    --purple: #725C8E;
    --black: #333;
    --white: #fff;
  }
  
body {
    background-color: var(--lavender);
    color: var(--black);
    font-family: Georgia;
    line-height: 1.6;
  }

 /* Style the container div with a bubble background */
.about {
    background-color: #EAE7F2; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    display: flex; 
    align-items: center; 
    max-width: 800px; 
    margin: 0 auto; 
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.about-text {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}
  
/* Styles for the navbar/header */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--darker-purple);
    color: var(--white);
    padding: 0;
}
  
.logo a {
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia;
}
  
.nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
}
  
.navbar a {
    color: var(--white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: monospace;
}
  
.navbar a:hover {
    color: var(--lavender);
    text-decoration: underline;
}
  
.navbar a:active {
    color: var(--lavender);
}

/* CSS for portfolio grid */

.project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1em 0 2em 0;

  /* Debug border */
  /* border: 2px solid blue; */
}

.item-link {
  width: 70%;

  /* Debug border */
  /* border: 2px solid red; */
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 500px;
  flex-basis: 50px;
  flex-grow: 2;

  /* Debug border */
  /* border: 2px solid black; */
}

.project-details {
  display: flex;
  background-color: var(--cg-white);
  width: 30%;
  height: 500px;
  flex-shrink: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;

  /* Debug border */
  /* border: 2px solid green; */
}

.project-details a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-details a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.project-details {
  font-weight: lighter;
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}

/* CSS for portfolio grid */

.project {
    display: flex;
    flex-direction: column; /* Change the direction to column */
    align-items: center; /* Center horizontally */
    max-width: 100%;
    margin: 1em 0 2em 0;
    /* Debug border */
    /* border: 2px solid blue; */
}

.item-link {
    width: 70%;
    /* Debug border */
    /* border: 2px solid red; */
}

.project-image {
    object-fit: cover;
    width: 100%;
    height: 500px;
    flex-basis: 50px;
    flex-grow: 2;
    /* Debug border */
    /* border: 2px solid black; */
}

.project-details {
    display: flex;
    flex-direction: column;
    background-color: var(--cg-white);
    width: 100%; /* Adjust the width to 100% */
    height: 500px;
    flex-shrink: 1;
    padding: 0 20px;
    margin: 0px;
    line-height: 1.5;
    overflow: scroll;
    /* Debug border */
    /* border: 2px solid green; */
}

.project-details a {
    color: var(--cg-black);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.project-details a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
}

.project-details {
    font-weight: lighter;
    text-align: center; 
}

.project-name {
    font-weight: bold;
    font-size: 20px;
}
  
/* Styles for the main content */
.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: Georgia;
    color: var(--darker-purple);
}
  
.resume {
    background-color: var(--purple);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styles for each section (bubbles for resume) */
.section {
    background-color: var(--lavender);
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
.section-title {
    font-size: 24px;
    margin-top: 20px;
    color: var(--darker-purple);
    text-align: center;
}
  
.entry-title {
    font-weight: bold;
    margin-top: 10px;
}
  
.entry-info {
    margin-top: 5px;
}
  
.entry-description {
    margin-top: 10px;
}

/* Style the download link */
a[href$=".pdf"] {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto 0;
    max-width: 200px;
}
  
a[href$=".pdf"]:hover {
    background-color: var(--darker-purple);
}

/* CSS for contact form */

label {
    display: block;
    margin-bottom: 8px;
    font-family: Georgia;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
  
/* Add some spacing to the form */
form {
    width: 500px;
    margin: 0 auto;
}

/* Center the submit button horizontally */
.contact-form-container {
    text-align: center;
    padding: 20px;
}

.contact-form {
    max-width: 400px; 
    margin: 0 auto; 
    text-align: left;
}

/* Style the submit button */
.submit-button {
    background-color: #725C8E; 
    color: #EAE7F2; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px; 
    font-size: 16px; 
    margin: 20px auto 0;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}
/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #5B4E77; /* Button background color on hover */
}
  
/* Styles for the footer */
.footer {
    background-color: var(--darker-purple);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
}
