:root {
    /* Color variables */
    --lavender: #EAE7F2;
    --darker-purple: #5B4E77;
    --purple: #725C8E;
    --black: #333;
    --white: #fff;
  }
  
  body {
    background-color: var(--lavender);
    color: var(--black);
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Styles for the navbar/header */
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--darker-purple);
    color: var(--white);
    padding: 0;
  }
  
  .logo a {
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  }
  
  .navbar a {
    color: var(--white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: monospace;
  }
  
  .navbar a:hover {
    color: var(--lavender);
    text-decoration: underline;
  }
  
  .navbar a:active {
    color: var(--lavender);
  }
  
  /* Styles for the main content */
  .page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: Georgia;
    color: var(--darker-purple);
  }
  
  .resume {
    background-color: var(--white);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  /* Styles for each section (bubbles) */
  .section {
    background-color: var(--lavender); /* Set a lavender background for each section */
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px; /* Rounded corners for each section */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .section-title {
    font-size: 24px;
    margin-top: 20px;
    color: var(--darker-purple);
    text-align: center;
  }
  
  .entry-title {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .entry-info {
    margin-top: 5px;
  }
  
  .entry-description {
    margin-top: 10px;
  }
  
  /* Styles for the footer */
  .footer {
    background-color: var(--darker-purple);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
  }
